{
    "presets": [
        "@babel/env",
        "@babel/react"
    ],
    "plugins": [[
        "transform-runtime",
        {
            "helpers": false,
            "regenerator": true
        }
    ]]
}