.mount-node{
    margin-right: 50px;
}

.normal-label{
    color: green;
}

.warning-label{
    color : red;
}
.container-fluid{
    //min-height: 400px;
    min-height: 100%;
}
.big-map-body{
    height: calc(100vh - 115px);
}
#map_container{
    height: 100%;
    // height: calc(100vh - 155px);
    width: 100%;
}
#main-wrapper{
    overflow: visible;
}
.alert-map{
    min-height: 400px;
}
.small-map-box{
    padding: 0 !important;
}
.page-title{
    margin-top: 10px;
    display: block;
}

.state-button{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.site-info-card{
    height: 438px;
}

.site-surveillance-div{
    width : 90%;
    margin: auto;
    display: block;
}

.surveillance-image{
    max-width: 100%;
}

.camera-detail-preview{
    width: 80%;
    display: block;
    margin : auto;
}

.table-line{
    display: block;
}

.info-line{
    line-height: 35px;
    font-size: 17px;
    font-weight: 300;
}

.control-button{
    font-size: 20px;
}

.text-center{
    text-align: center;
}

.display-block{
    display: block;
}

.table-button{
    margin-bottom: 5px;
}

.capture-list-preview{
    width : 70px;
    height: 50px;
}

//appendex bootstrap

.col-lg-offset-12 {margin-left: 100%;}  .col-lg-offset-11 {margin-left: 91.66666667%;}  .col-lg-offset-10 {margin-left: 83.33333333%;}  .col-lg-offset-9 {margin-left: 75%;}  .col-lg-offset-8 {margin-left: 66.66666667%;}  .col-lg-offset-7 {margin-left: 58.33333333%;}  .col-lg-offset-6 {margin-left: 50%;}  .col-lg-offset-5 {margin-left: 41.66666667%;}  .col-lg-offset-4 {margin-left: 33.33333333%;}  .col-lg-offset-3 {margin-left: 25%;}  .col-lg-offset-2 {margin-left: 16.66666667%;}  .col-lg-offset-1 {margin-left: 8.33333333%;}  .col-lg-offset-0 {margin-left: 0;}

  .div-with-padding{
      padding-top : 20px;
      padding-bottom: 20px;
  }

  .error{
      color: red;
      text-align: center;
  }
  // FORM表单
  .form-list{
    width: auto !important;
    min-width: 150px;
  }
  // 列表背景白色
  .list-box{
    background: #fff;
  }
  // 筛选
  .select-box{
    position: relative;
    margin: -25px -25px 25px;
    padding: 10px 25px;
    background: #fff;
    border-top: 1px solid #edf1f5;
  }
  .s-lesect{
    display: block;
    height: 35px;
    float: left;
    // width: 150px;
  }
  // 暂无数据
  .no-data{
    text-align: center;
  }
  .clear::after{
      content: '';
      display: block;
      clear: both;
  }
.s-site{
    display: block;
    height: 35px;
    float: left;
    line-height: 35px;
}
li{
    list-style: none;
}
.input-filter{
    display: block;
    width: 250px;
    position: relative;
}
.fake-span{
    display: block;
    cursor: pointer;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    line-height: 35px;
    text-indent: 15px;
    text-align: left;
}
.filte-box{
    position: absolute;
    border: 1px solid #e9ecef;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    z-index: 9;
}
.select-cont{
    width: 100%;
    overflow: visible;
}
.filter-input{
    display: block;
    width: 90%;
    margin: 0 auto;
}
.select-ul{
    position: relative;
    min-height: 50px;
    max-height: 200px;
    display: inline-block;
    width: 100%;
    overflow-y: auto;
    margin-top: 5px;
    li{
        line-height: 25px;
        text-align: left;
        width: 100%;
        cursor: pointer;
        text-indent: 15px;
    }
    li.hover{
        background: #ccc;
    }
}
ul{
    padding: 0;
    margin: 0;
}
.filter-updown{
    display: none;
    position: absolute;
    right: 8px;
    top: 10px;
    cursor: pointer;
}
.active{
    color: red;
}
.alert-box{
    z-index: 9999;
}
// 列表盒子 
.table-part-box{
    padding-bottom: 60px;
    width: 100%;
    color: #000;
}
// 底部pager
.pagers-clear{
    margin: 10px 0 0 10px;
    //display: inline-block;
    display:flex;
    justify-content:center;
}
.footer-pager{
    position: fixed;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 55px;
    z-index: 9;
    text-align: center;
    background: #fff;
    padding-left: 50px;
    box-sizing: border-box;
    box-shadow: 0 -1px 5px #ccc;
} 
.positres{
    position: relative;
    min-height: 60px
}
.showLoading{
    position: absolute;
    width:100%;
    height: 100%;
    left:0;
    top: 0;
    text-align: center;
    background: #fff;
    z-index: 10;
}
.loader__label{
  font-size: 18px;
}
.modal-body{
 padding: 5px !important;  
}
.bs-input-cancel-icons{
    position: absolute;
    display: block;
    right: 10px;
    top: 12px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.input-common{
    height: 35px;
    min-height: 35px;
}
.left{
    float: left;

}
.right{
    float: right;
}
// search 
.site-search-box{
    padding: 10px 0 10px 20px;
    height: 60px;
    background-color:#fff;
    //margin-bottom: 10px;
}
.site-search-box::after{
    content: '';
    display: block;
    clear: both;
}
.site-input-box{
    float: left;
    width: 200px;
    margin-right: 10px;
}
.site-center-line{
    float: left;
    width: 20px;
    margin-right: 10px;
}
.site-lines{
    display: block;
    width: 16px;
    height: 1px;
    background: #000;
    margin: 17px auto 0;
}
.form-control{
    height: 35px;
    min-height: 35px;
}
.search-name{
    height: 35px;
    line-height: 35px;
}

.warning-low{
    background: yellow;
}
.warning-normal{
    background: #fec107;
}
.warning-high{
    background: yellow;
}
.warning-emergent{
    background: yellow;
}
.warning-closed{
    background: #ccc;
}
.warning-common{
    color:#fff;
    font-weight: bold;
    padding: 2px 10px;
    border-radius: 5px;
 }
// tr选中
$table-td-font-color:#656565;
 .tr-select{
    background: #ccc;
 }
 .no-list-data{
     position: absolute;
     width: 100%;
     padding: 10px;
     text-align: center;
     background: #fff;
     //bottom:5px;
     left: 0
 }
.table td{
  vertical-align: middle;
  color: $table-td-font-color;
}
.table-hover tbody tr:hover{
  cursor: pointer;
}
.dashboard:hover{
  background:#f8f9fa;
}
.btn-68{
  width: 68px !important;
}
.btn-86{
  width: 86px !important;
}

.hidden-xs-down{
  font-size: 18px;
}
.fullscreen_p{
  font-size: 18px;
  text-indent: 36px;
}
.fullscreen_title{
  text-align: center;
  font-weight: 300 !important;
  margin-bottom: 0;
}

.tabcontent-border {
  border: 1px solid #ddd;
  border-top: 0;
}
html,body{
  width:100%;
  height:100%;
}
.own-arrow:hover{
  color: #fa7953 !important;
}
.border-left-h4{
  padding-left: 10px;
  margin-bottom: 0;
  border-left: 5px solid #fb9678;
  font-size: 18px;
}
.border-gray{
  border: 1px solid gray;
}
.margin-bottom-0{margin-bottom: 0;}  .margin-top-10{margin-top: 10px;}
.margin-top-30{margin-top: 30px;}
.m-b-10{margin-bottom: 10px;}
.m-b-20{margin-bottom: 20px;}
.padding-0{padding: 0;}  .padding-10{padding: 10px;}  .padding-top-0{padding-top: 0;}  .padding-bottom-0{padding-bottom: 0;}  .padding-left-0{padding-left: 0;}
.padding-20{padding: 20px;}
.padding-r-0{
  padding-right: 0;
}
.margin-r-1{
  margin-right: 3em;
}
.padding-l-0{
  padding-left: 0;}
.line-part-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.width-100{
  width: 100%;
}
.height-100{
  height: 100%;
}
.height-80{
  height: 80%;
}
.fs-18{
  font-size: 18px;
}
.fs-16{
  font-size: 16px;
}
.fs-20{
  font-size: 20px !important;
}
.max-height-10{
  height: 10%;
}
.height-74{height: 74%;}  .height-20{height: 20%;}  .height-25{height: 25%;}  .height-45{height: 45%;}  .height-75{height: 75%;}  .height-70{height: 70%;}  .height-10{height: 10%;}  .height-30{height: 30%;}  .height-50{height: 50%;}  .height-90{height: 90%;}
.fw-600{
  font-weight: 600;
}
.line-part-list button{
  display: inline-block;
  width: 100%;
}
.activeBtn,.activeBtn:hover{
  background-color:#fb9678;
  color:white;
}
.flex-justify-content-center{
  justify-content: center;
}
.active-geographic{
  color: red;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
.dropdown-item{
  cursor: pointer;
}

//覆盖样式
//预定义变量
$title-color:#061178;
$bg-color:#E9E9E9;
$bg-sidebar:#0050B3;
$sidebar-active:#FFA940;
$red-highlight:#F5222D;
$bg-info:#F7F7F7;
//sidebar and topbar ---------------------------------------
.topbar{
  display: flex;
  align-items: center;
  padding: 0.6em;
  z-index: 101;
  height: 82px;
  background-color: $bg-color !important;
}
.user-profile .user-pro-body{
  display: flex;
  align-items: center;
}
.user-profile .user-pro-body img{
  width: 46px;
  margin: 0 1em 0 0;
}
.user-profile{
  margin-top: 0;
  width: 60% !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2em;
}
.fixed-header .page-wrapper, .fixed-layout .page-wrapper{
  padding-top: 82px;
}
.red-highlight{
  color: $red-highlight;
}
@media (min-width: 768px) and (max-width: 1170px) {
  .fixed-header .page-wrapper, .fixed-layout .page-wrapper{
    padding-top: 82px;
  }
}
@media (max-width: 580px){
  .tb-title{
    display: none;
  }
  .user-profile{
    width: 100% !important;
    justify-content: center;
  }
}
.left-sidebar{
  background-color: $bg-sidebar;
  padding-top: 85px !important;
}
.sidebar-nav{
  padding: 0;
}
.sidebar-nav ul li a{
  color: #fff;
}
.sidebar-nav ul li a:hover,.sidebar-nav ul li a.active{
  color: $sidebar-active;
}
.tb-title{
  color: $title-color;
  width: 40%;
  margin-left: 2%;
  font-size: 24px;
  font-weight: 400;
}
.todo{
  margin-right: 2em;
  font-size: 18px;
}
.notify{
  top: -18px;
  right: -10px;
}
.user-profile .dropdown-menu{
  left: -20px !important;
}
.user-profile .info-menu{
  width: 240px !important;
  background-color: $bg-info;
  top: 40px !important;
}
//model---------
.model-text{
  text-align: center;
  font-size:18px;
  padding:20px;
}

/* list page---------------------------------------------*/
$detail-bc:#0050B3;
$state-finish-bc:#5CDBD3;
$state-accept-bc:#FFD666;
$state-create-bc:#FF7875;
$create-bc:#1890FF;
$search-bc:#BFBFBF;
$select-border-color:#40A9FF;
$table-header-color:#FAFAFA;
$alarm-type-bc:#FF4D4F;
$site-state-normal:#5CDBD3;
$site-state-ab:#FF7875;
$btn-active:#FFA39E;
.accumulate{
  float: right;
  color: $btn-active;
}
.fw-bold{
  font-weight: bold;
}
.btn-white{
  color: #fff;
}
.btn-white:hover{
  background-color: $btn-active;
}
.btn-red{
  color: #fff;
  background-color: $btn-active;
}
//.btn-red:hover{
//  background-color: #d8d8d8;
//}
.container-fluid{
  padding: 0 10px;
}
.full-btn{
  color: #fff;
  background-color: $detail-bc;
  border-color: $detail-bc;
}
.full-btn:hover{
  color: $detail-bc;
  background-color: unset;
  border-color: $detail-bc !important;
}
.state-finish{color: #fff;background-color: $state-finish-bc;border-color: $state-finish-bc;}
.state-accept{color: #fff;background-color: $state-accept-bc;border-color: $state-accept-bc;}
.state-create{color: #fff;background-color: $state-create-bc;border-color: $state-create-bc;}
.btn-gray{
  color: #fff;
  background-color: $search-bc;
  border-color: $search-bc;
}
.btn-gray:focus{
  box-shadow: 0 0 0 0.2rem rgba(191,191,191,.5);
}
.create-btn{
  color: #fff;
  background-color: $create-bc;
  border-color: $create-bc;
}
.empty-btn{
  color: $detail-bc;
  background-color: unset;
  border: 1px solid $detail-bc !important;
}
.empty-btn:hover{
  color: #fff;
  background-color: $detail-bc;
}
.alarm-type-btn{
  color: $alarm-type-bc;
  background-color: unset;
  border-color: $alarm-type-bc;
}
.alarm-type-btn:hover{
  color: #fff;
  background-color: $alarm-type-bc;
}
.btn-rounded{
  border-radius: 8px;
}
.btn-rounded-full{
  border-radius: 16px;
}
.site-search-box{
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  line-height: 5;
  align-items: center;
}
.site-search-box .left{
  display: flex;
  align-items: center;
}
.filte-box,.custom-select,textarea,input[type="date"],
.input-common{
  border: 1px solid $select-border-color !important;
}
@media (max-width: 1490px) {
  .sm-grow{
    flex-grow: 1;
  }
}

//site list page
$btn-bg:#096DD9;
.site-normal{
  color: #fff;
  background-color: $site-state-normal;
  border-color: $site-state-normal;
}
.site-abnormal{
  color: #fff;
  background-color: $site-state-ab;
  border-color: $site-state-ab;
}

//site detail
.common-title{
  display: block;
  color: #0050b3;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 2em;
}
.site-detail-btn{
  background: $btn-bg;
  color: #fff;
  border: 1px solid $btn-bg;
  border-radius: 4px;
  padding: 6px 10px;
  margin-bottom: 3em;
  cursor: pointer;
}
.info-part{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 3;
  color: $table-td-font-color;
}
.info-part div{
  width: 50%;
  font-size: 16px;
}
.info-part span,.sitename-title{
  font-size: 14px;
  color: $table-td-font-color;
}

//form
.form-wrapper{
  background-color:white;
  align-items:center;
  justify-content:space-between;
  padding:20px 10px;
}
.nav-link{
  color: #4F5467;
}
.nav-link.active{
  color: #fb9678 !important;
}

.table{
  margin-bottom: 0;
}
.table-part-box>div{
  //background: #fff;
}
.flex-all-center{
  display: flex;
  justify-content: center;
  align-items: center;
}