{
    "presets": [
        ["@babel/preset-env", // 指定需要编译的语法
        {
            "targets": { // 指定需要兼容的浏览器，第一个是市场百分比
                "browsers": [">1%", "last 4 versions"]
            }
        }]
    ],
    "plugins": ["@babel/plugin-transform-runtime"]
}